<div class="card">

    <h2>Score</h2>
    <div class="score">{{ score }}%</div>

    <h3>❗ JD Missing Skills</h3>
    <ul>
        {% for s in jd_missing %}
            <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <h3>🎯 Role-Based Missing Skills</h3>

    {% for category, skills in role_missing.items() %}
        <h4>{{ category }}</h4>
        <ul>
            {% for s in skills %}
                <li>{{ s }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h3>💡 Suggestions</h3>
    <ul>
        {% for s in suggestions %}
            <li>{{ s }}</li>
        {% endfor %}
    </ul>

</div>